.navbar {
  height: 70px;
  background-color: blue;
  display: flex;
  justify-content: center;
}
.navContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  justify-content: space-between;
}
.navbtn {
  margin-left: 20px;
  padding: 0.8rem 1.5rem;
  background-color: orange;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 18px;
  color: whitesmoke;
}
.navbtn:hover {
  background-color: transparent;
  border: 1.5px solid orange;
  color: orange;
}
.logo {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}
.navItems {
  display: flex;
}
